# Core
streamlit>=1.30
python-dotenv  # Optional for local testing
Pillow         # For background image support

# Hugging Face + Transformers
transformers>=4.36.2
sentencepiece
tokenizers
accelerate
torch          # Let platform auto-resolve compatible version

# LLM + LangChain
langchain>=0.1.14
langchain-community>=0.0.29
langchain-huggingface
langchain-pinecone

# Vector Store
pinecone-client>=3.0.0
